@import "variables.scss";
/*
	DESKTOP
 */
@media screen and (min-width: $break-medium) {
	
	.presentationbox {
	    width: 40%;
	    min-width: 456px;
	}

	.concept-box {
		margin-bottom: 0px;
	}

	.navbar-default {
		background-color: transparent;
	}

	.navbar {
		margin-top: 20px;
	}

	.navbar-nav>li>.free-trial-button {
		padding-right: 40px;
		padding-left: 40px;
	}

	

	.free-trial-list-item {
		margin-left: 20px;
	}

}

