@import "variables.scss";

/*
	MOBILE
 */

h1,h2,h3,h4,h5,h6,p,a {
  font-family: $font-primary, sans-serif;
}

p, a:not(.free-trial-button), .navbar-brand {
	font-size: 1.2em;
	font-weight: 500;
}

.free-trial-button {
	font-weight: 800;
}

body {	
	min-height:100vh;
	background:linear-gradient(0deg,$overlay-color,$overlay-color),url($img-path + 'background.jpg');
	background-size:cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: $bright-color;

	.container {
		height: 100vh;
		display: flex;
	  	flex-direction: column;
	}
}

/**
 * Bootstrap navbar (overrides)
 */

.navbar-default .navbar-toggle .icon-bar {
	background-color: $bright-color;
}

.navbar-nav {
    margin: 0.5px -15px;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a:focus {
	color: $bright-color;
}

.navbar-default {
	background-color: $overlay-color;
	border: 0px;
}

.free-trial-button, .navbar-default .navbar-nav>li>.free-trial-button:focus {
	background-color: $accent-color;
}

.navbar-default .navbar-nav>li>.free-trial-button:hover {
	background-color: $button-hover-color;
	color: $bright-color;
}

.navbar-default .navbar-nav>li>a:hover:not(.free-trial-button) {
	color: $accent-color;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background: transparent;
}

/**
 * Header text
 */

#content {
	flex: 1 0 auto;

	.presentationbox {
		margin: auto;
		text-align: center;
	    max-width: 456px;

	    h1 {
	    	position: relative;
			margin-bottom: 35px;
	    }

	    h1:after {
			content: '';
			position: absolute;
			bottom: 0;
			height: 3px;
			background: $accent-color;
			left: 35%;
			right: 35%;
			display:block;

			/*Extra*/
			bottom: -20px;
		}
	}
}

/**
 * Concept boxes
 */

.concept-boxes {
	margin: auto;
	margin-top: 30px;

	.concept-box {
		text-align: center;
		height: 250px;
		width: 271px;	
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
	}

	.icon-placeholder {
		width: 100%;
		height: 92px;
		background-repeat: no-repeat;
		background-position: center;
		margin-top: 50px;
		margin-bottom: 20px;
	}

	div h4 {
		margin-bottom: 40px;
		font-weight: 800;
	}

	.bluebox {
		background-color: $primary-color;
		.icon-placeholder {
			background-image: url($icons-path + 'prototype-icon.png');
		}
	}

	.tealbox {
		background-color: $secondary-color;
		.icon-placeholder {
			background-image: url($icons-path + 'magnifying-glass-icon.png');
		}
	}

	.redbox {
		background-color: $accent-color;
		.icon-placeholder {
			background-image: url($icons-path + 'laptop-icon.png');
		}
	}
}
