/**
 * PATHS
 */
$assets-path: '../../../assets/';
$img-path: $assets-path + 'img/';
$icons-path: $img-path + 'icons/';

/**
 * MEDIA QUERIES
 */
$break-small: 535px;
$break-medium: 768px;

/**
 * COLORS
 */

$primary-color: #3B3756;
$secondary-color: #78A5A3;
$accent-color: #f93a5a;
$bright-color: #ffffff;
$button-hover-color: #FA8599;

$overlay-color: rgba(44,44,49,0.7);

/**
 * FONTS
 */
$font-primary: 'Raleway';