/**
 * PATHS
 */
/**
 * MEDIA QUERIES
 */
/**
 * COLORS
 */
/**
 * FONTS
 */
/*
	MOBILE
 */
* {
  font-family: "Raleway", sans-serif !important;
  font-weight: 500 !important; }

p, a {
  font-size: 1.2em !important; }

body {
  min-height: 100vh;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(44, 44, 49, 0.7)), to(rgba(44, 44, 49, 0.7))), url("../../../assets/img/background.jpg");
  background: linear-gradient(0deg, rgba(44, 44, 49, 0.7), rgba(44, 44, 49, 0.7)), url("../../../assets/img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #ffffff; }

.container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

#content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }

/**
 * Bootstrap navbar
 */
.navbar-toggle .icon-bar {
  background-color: #ffffff !important; }

.navbar-nav {
  margin: 0.5px -15px; }

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
  color: #ffffff; }

.navbar-default {
  background-color: rgba(44, 44, 49, 0.7);
  border: 0px; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent; }

.free-trial-button {
  background-color: #f93a5a; }

.presentationbox {
  margin: auto;
  text-align: center; }

/*.presentationbox h1 {
	display: inline-block;
	position: relative;
}

.presentationbox h1:after {
	content: '';
	position: absolute;
	bottom: 0;
	height: 3px;
	background: red;

	left: 0;
	right: 0;

	width: 50px;
	margin: 0 auto;
}*/
.presentationbox h1 {
  position: relative;
  margin-bottom: 35px; }

.presentationbox h1:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 3px;
  background: #f93a5a;
  left: 35%;
  right: 35%;
  display: block;
  /*Extra*/
  bottom: -20px; }

.concept-boxes {
  margin: auto;
  /* .. junk .. */
  /*position: fixed;*/
  /*bottom: 0;*/
  /*width: 600px;*/
  /*vertical-align: bottom;*/
  /*margin: auto;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*justify-content: space-between;*/
  /*justify-content: center;*/
  /*flex-flow: row wrap;*/ }

.concept-boxes .concept-box {
  /*align-content: flex-end; */
  text-align: center;
  height: 250px;
  width: 271px;
  /*background-image: url(laptop.png);
	
	background-repeat: no-repeat;
	background-position: center;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*justify-content: center;*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.concept-boxes div h4 {
  /*align-self: flex-end;*/
  margin-bottom: 40px;
  font-weight: 800 !important; }

.bluebox {
  background-color: #3B3756; }

.tealbox {
  background-color: #78A5A3; }

.redbox {
  background-color: #f93a5a; }

.bluebox .icon-placeholder {
  background-image: url("../../../assets/img/icons/prototype-icon.png"); }

.tealbox .icon-placeholder {
  background-image: url("../../../assets/img/icons/magnifying-glass-icon.png"); }

.redbox .icon-placeholder {
  background-image: url("../../../assets/img/icons/laptop-icon.png"); }

.icon-placeholder {
  width: 100%;
  height: 92px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 50px;
  margin-bottom: 20px; }

@media screen and (max-width: 768px) {
  .concept-box {
    margin-bottom: 20px; }
  .concept-boxes {
    margin-top: 30px; } }
