/**
 * PATHS
 */
/**
 * MEDIA QUERIES
 */
/**
 * COLORS
 */
/**
 * FONTS
 */
/*
	MOBILE
 */
h1, h2, h3, h4, h5, h6, p, a {
  font-family: "Raleway", sans-serif; }

p, a:not(.free-trial-button), .navbar-brand {
  font-size: 1.2em;
  font-weight: 500; }

.free-trial-button {
  font-weight: 800; }

body {
  min-height: 100vh;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(44, 44, 49, 0.7)), to(rgba(44, 44, 49, 0.7))), url("../../../assets/img/background.jpg");
  background: linear-gradient(0deg, rgba(44, 44, 49, 0.7), rgba(44, 44, 49, 0.7)), url("../../../assets/img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #ffffff; }
  body .container {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

/**
 * Bootstrap navbar (overrides)
 */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff; }

.navbar-nav {
  margin: 0.5px -15px; }

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff; }

.navbar-default {
  background-color: rgba(44, 44, 49, 0.7);
  border: 0px; }

.free-trial-button, .navbar-default .navbar-nav > li > .free-trial-button:focus {
  background-color: #f93a5a; }

.navbar-default .navbar-nav > li > .free-trial-button:hover {
  background-color: #FA8599;
  color: #ffffff; }

.navbar-default .navbar-nav > li > a:hover:not(.free-trial-button) {
  color: #f93a5a; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background: transparent; }

/**
 * Header text
 */
#content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }
  #content .presentationbox {
    margin: auto;
    text-align: center;
    max-width: 456px; }
    #content .presentationbox h1 {
      position: relative;
      margin-bottom: 35px; }
    #content .presentationbox h1:after {
      content: '';
      position: absolute;
      bottom: 0;
      height: 3px;
      background: #f93a5a;
      left: 35%;
      right: 35%;
      display: block;
      /*Extra*/
      bottom: -20px; }

/**
 * Concept boxes
 */
.concept-boxes {
  margin: auto;
  margin-top: 30px; }
  .concept-boxes .concept-box {
    text-align: center;
    height: 250px;
    width: 271px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 20px; }
  .concept-boxes .icon-placeholder {
    width: 100%;
    height: 92px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px;
    margin-bottom: 20px; }
  .concept-boxes div h4 {
    margin-bottom: 40px;
    font-weight: 800; }
  .concept-boxes .bluebox {
    background-color: #3B3756; }
    .concept-boxes .bluebox .icon-placeholder {
      background-image: url("../../../assets/img/icons/prototype-icon.png"); }
  .concept-boxes .tealbox {
    background-color: #78A5A3; }
    .concept-boxes .tealbox .icon-placeholder {
      background-image: url("../../../assets/img/icons/magnifying-glass-icon.png"); }
  .concept-boxes .redbox {
    background-color: #f93a5a; }
    .concept-boxes .redbox .icon-placeholder {
      background-image: url("../../../assets/img/icons/laptop-icon.png"); }
